build/
gtkbuild/
mingw64/
mingw32/
emscripten/
venv/
node_modules/
dist/
out/

/src/ipe/opt/
/src/ipejs/ipejs.js

/src/ipe-web/src/ipe.js
/src/ipe-web/src/ipe.wasm
/src/ipe-web/src/gitversion.ts

/src/ipe-electron/src/renderer/index.html
/src/ipe-electron/src/renderer/src/ipe/
/src/ipe-electron/src/main/*.png

/src/vscode/src/root.ts
/src/vscode/webview/ipe/

