build/
gtkbuild/
mingw64/
mingw32/
emscripten/
venv/
node_modules/
dist/
out/

/src/ipe/opt/
/src/ipejs/ipejs.js
/src/ipe-web/src/ipe.js
/src/ipe-web/src/ipe.wasm
/src/ipe-web/src/gitversion.ts
/src/ipe-electron/src/renderer/
/src/ipe-electron/src/main/*.png

!/ipe-electron/src/main/src/renderer.ts
